*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(211, 214, 214);
    margin: 0%;
    font-size: 17px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255); 
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;
    height: px;
    margin-left: 5px;
    cursor: pointer;
}

.logo li{
    font-size: 18px;
    margin-inline: 25px;
    list-style: none;
    transition: 0.5s;
}

.logo li:hover{
    color: rgb(2, 255, 166);
    cursor: pointer;
}

.searchBar{
    display: flex;
}

.searchBar input{
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-inline: 5px;

}

.searchBar button{
    width: 80px;
   
    border-radius: 10px;
    margin-inline: 5px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border: none;
    transition: 0.2s;
    margin-right: 30px;
    
}

.searchBar button:hover{
   cursor: pointer;
   background-color: rgb(38, 45, 169);
   font-size: 17px;
    
}

@media only screen and (max-width:950px){
    li{
        display: none;
    }
}

@media only screen and (max-width:600px){
    nav{
        flex-direction: column;
        
    }
}
    